.treatment-card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  box-shadow: 1px 1px 4px rgb(180, 180, 180);
  padding: 1rem 2rem;
  width: 100%;
  column-gap: 1rem;
}

.tc-btn-cont {
    display: grid;
    grid-template-columns: 10ch 6rem;
    align-items: center;
    justify-items: end;
}
.tc-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.tc-btn-add, .tc-btn-remove {
  min-width: 74px;
  padding: 8px 10px;
  border-style: none;
  color: white;
  margin-left: 2rem;
}

.tc-btn-add {
  background-color: rgb(70, 70, 245);
}
.tc-btn-remove {
  margin-left: 10px;
  background-color: rgb(221, 53, 53);
}
.selected-text {
    display: inline-block;
    visibility: hidden;
    color: rgb(13, 150, 13);
    min-width: 10ch;
}
.selected-text.is-shown {
    visibility: visible;
}

.tc-duration::after {
  content: ", ";
}

.tc-price::after {
    content: "kr";
}
