p {
  margin: 0;
}

.treatment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px rgb(180, 180, 180);
  border-radius: 10px;
  padding: 6px 15px;
  margin: 1rem auto;
}

.tc-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.tc-btn-add, .tc-btn-remove {
  min-width: 74px;
  padding: 8px 10px;
  border-style: none;
  border-radius: 20px;
  color: white;
}

.tc-btn-add {
  background-color: rgb(70, 70, 245);
}
.tc-btn-remove {
  margin-left: 10px;
  background-color: rgb(221, 53, 53);
}

.selected-text {
  color: rgb(13, 150, 13);
  
  
}

.tc-duration::after {
  content: ", ";
}

.tc-price::after {
    content: "kr";
}
