p {
  margin: 0;
}

.treatment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px rgb(180, 180, 180);
  border-radius: 10px;
  padding: 6px 15px;
  margin: 1rem auto;
}

.tc-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.tc-btn-add {
  padding: 6px 6px;
}

.tc-duration::after {
  content: ", ";
}

.tc-price::after {
    content: "kr";
}
