
.confirmation-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 2px rgb(180, 180, 180);
}

.confirmation-grid dt {
    flex: 0 0 150px;
}

.confirmation-grid ul {
    list-style: none;
}

.confirmation-grid dd, ul {
    padding: 0;
}

