
.conf-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.conf-grid dt {
    flex: 0 0 150px;
    font-weight: bold;
}

.conf-grid ul {
    list-style: none;
}

.conf-grid dd, ul {
    padding: 0;
    margin: 0;
}

.conf-grid li {
    display: inline-block;
    margin-right: 0.35rem;
}
.conf-grid li::after {
    content: ",";
}
.conf-grid li:last-of-type::after {
    content: none;
}

.conf-content {
    display: block;
}

.conf-container {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 2px rgb(180, 180, 180);
    max-width: 550px;
    padding: 1rem 2rem 2rem 2rem 
;  
}

.conf-page {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.conf-page h1, p {
    text-align: center;
    margin: 0 0 0.5rem 0;
}

#customer-title {
    border-top: 1px solid rgb(184, 184, 184);
    padding-top: 1rem;
}

