
.confirmation-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
}

.confirmation-grid dt {
    flex: 0 0 150px;
}

.confirmation-grid ul {
    list-style: none;
}

.confirmation-grid dd, ul {
    padding: 0;
}