.nav {
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.site-title {
    font-weight: bold;
    font-size: 2rem;
}
.nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    color: black;
}

#nav-logo {
    height: 50px;
    margin-left: 1rem;
}

.nav li.active {
    background-color: rgb(66, 66, 66);
}

.nav li:hover {
    background-color: rgb(126, 126, 126);
}