nav {
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

#nav-menu {
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

#nav-menu a {
    text-decoration: none;
    color: black;
    margin-right: 1.5rem;
    font-size: large;
}

#nav-menu a:hover {
    text-decoration: underline;
}

#menu-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#menu-toggle, #menu-icon {
    display: none;
}

#nav-logo img {
    height: 50px;
    margin-left: 1rem;
}

#nav-booking-btn {
    background-color: rgb(251, 135, 187);
    padding: 0.75rem 2rem;
    color: white !important;
}

@media (max-width: 680px) {  
    #nav-menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        justify-content: center;
    }

    #menu-icon {
        display: block;
        color: black;
    }

    #menu-toggle:checked ~ #nav-menu {
        max-height: 100%;
        right: 0;
    }

    #menu-list {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}
