.treatment-card-list {
  display: flex;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
  column-gap: 1rem; */
    flex-wrap: wrap;
  
}

.list-footer {
  grid-column: 1 / -1;   
  justify-self: center;   
  display: flex;
  gap: .75rem; 
}