#salon-pic {
  background-image: url("../../../public/images/Salong2.jpeg");
  background-size: cover;
  background-position: center top;
  height: calc(100vh - 77px);
  display: flex;
  justify-content: center;
}

#salon-pic::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  margin-top: 77px;
}

#salon-pic > * {
  z-index: 1;
}

.start-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15rem;
}

#hp-title {
  color: white;
  font-size: 60px;
  text-align: center;
}

.hp-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#book-btn,
#contact-btn {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 130px;
  height: 42px;
  border-style: none;
  border: 0.2px solid;
}

@media (max-width: 880px) {
  #salon-pic {
    background-position: center top;
    height: calc(80vh - 77px);
  }
}

@media (max-width: 680px) {
  #salon-pic {
    background-position: center top;
    height: calc(60vh - 77px);
  }

  #hp-title {
  font-size: 30px;
}

  #book-btn,
#contact-btn {
  width: 100px;
  height: 35px;

}
.start-content {
  margin-bottom: 10rem;
}
}
