#salon-pic {
  background-image: url("../../../public/images/Salong.jpeg");
  background-size: cover;
  background-position: center top;
  height: calc(100vh - 77px);
  display: flex;
  justify-content: center;
}

.start-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15rem;
}

#hp-title {
  color: white;
  font-size: 60px;
  text-align: center;
}

.hp-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#book-btn,
#contact-btn, #price-list-btn {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 130px;
  height: 42px;
  border-style: none;
  border: 0.2px solid;
}

.second-content {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 1rem;
    padding: 3rem;
}

.sc-column {
    flex: 1;
    justify-content: center;
    text-align: center;

}

#price-list-info {
    display: inline-block;  
}

#price-list-info h1 {
    margin: 1rem 0;
}

#price-list-info p {
    font-size: 20px;
}

#image-cont {
    background-color: black;
}


@media (max-width: 880px) {
  #salon-pic {
    background-position: center top;
    height: calc(80vh - 77px);
  }
}

@media (max-width: 680px) {
  #salon-pic {
    background-position: center top;
    height: calc(60vh - 77px);
  }

  #hp-title {
  font-size: 30px;
}

  #book-btn,
#contact-btn {
  width: 100px;
  height: 35px;

}
.start-content {
  margin-bottom: 10rem;
}
}
