.step-content {
  width: 800px;
}

.inner-content {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(125, 125, 125);
  padding: 1rem 0;
}

.btn-next-container {
  display: flex;
  justify-content: center;
}
.btn-next,
.btn-prev {
  text-align: center;
  padding: 0.8rem 3rem;
  background-color: rgb(58, 58, 58);
  color: white;
  border: 1px solid;
}

.btn-next:disabled {
  background-color: rgb(255, 255, 255);
  color: rgb(196, 196, 196);
  border: 1px solid;
  cursor: auto;
}
