.datetime-content {
  display: grid;
  grid-template-rows: 320px auto;
  grid-template-columns: minmax(350px, 350px) minmax(300px, 335px);
  column-gap: 2rem;
  align-items: start;
  justify-content: center;
  grid-template-areas:
    "cal time"
    "btns btns";
  border-top: 1px solid rgb(125, 125, 125);
  width: fit-content;
  padding-top: 1rem;
}

.react-calendar {
  grid-area: cal;
}

.times-container {
  grid-area: time;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: .75rem;
  row-gap: .5rem;
  justify-self: end;
}

.step-btn-container {
  grid-area: btns;
  display: flex;
  justify-content: center;
  gap: 5rem;
  border-top: 1px solid rgb(125, 125, 125);
  margin-top: 1rem;
  padding-top: 1rem;
}

.lbl-times {
  display: inline-block;
  padding: 0.6rem 3rem;
  background-color: white;
  border-color: black;
  border: 1px solid;
  border-width: thin;
  cursor: pointer;
}

.input-times {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.time-item {
  
  max-width: 100%;
  max-height: 100%;
}

.input-times:hover + .lbl-times {
  background-color: rgb(230, 229, 231);
}

.input-times:checked + .lbl-times {
  background-color: rgb(175, 107, 239);
}
