.summary-container {
  display: block;
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
  border: 1px solid rgb(125, 125, 125);
}

.summary-grid {
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 0.5rem;
  column-gap: 0;
}

.summary-grid dt {
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.summary-grid ul {
  list-style: none;
}

.summary-grid ul {
  padding: 0;
  margin: 0;
}

.summary-grid dt, .summary-grid dd {
    border-bottom: 1px solid rgb(184, 184, 184);
}

.summary-grid dd {
    margin: 0;
    padding: 5px;
    text-indent: 5rem;
}

.summary-grid dt:last-of-type, .summary-grid dd:last-of-type {
    border-bottom: none;
}

.form-container {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 2px rgb(180, 180, 180);
    padding: 1rem 2rem 2rem 2rem;
    margin-bottom: 2rem;
}

.form-input{
    display: flex;
    flex-direction: column;
}

.form-input, .form-input-message {
    margin-top: 0.5rem;
}


.form-input-message textarea {
    display: block;
    resize: none;
    width: 100% !important;
    min-height: 5rem;
}

.form-field {
    padding: 0.5rem;
    font: inherit;
    border: none;
    margin-top: 0.2rem;
    box-shadow: 0 0 2px rgb(180, 180, 180);
}

.form-optional {
    color: rgb(130, 130, 130);
    font-weight: 100;
}
.form-label {
    font-weight: bold;
}