.step-content {
  width: 800px;
}

.btn-next-container {
  display: flex;
  justify-content: center;
}
.btn-next,
.btn-prev {
  text-align: center;
  padding: 0.6rem 2rem;
  background-color: rgb(58, 58, 58);
  color: white;
  border: 1px solid;
}

.btn-next:disabled {
  background-color: rgb(255, 255, 255);
  color: rgb(196, 196, 196);
  border: 1px solid;
  cursor: auto;
}

.summary-container {
  display: inline-block;
  background-color: rgb(240, 240, 240);
}

.summary-grid {
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.summary-grid dt {
  flex: 0 0 150px;
}

.summary-grid ul {
  list-style: none;
}

.summary-grid dd,
ul {
  padding: 0;
}
