.treatment-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
  column-gap: 1rem;
  width: fit-content;
  
}

.list-footer {
  grid-column: 1 / -1;
  justify-self: center;
  display: flex;
  gap: 0.75rem;
}
